<ion-view view-title="main test">



  <ion-content>

    <ion-item>
      <h1>Multi-Languages</h1>
    </ion-item>

<ion-item>
  <h2 translate="TITLE">Helloyyy</h2>

  <button class="button button-clear" ng-click="ChangeLanguage('en')">EN</button>
  <button class="button button-clear" ng-click="ChangeLanguage('de')">DE</button>
</ion-item>

    <ion-list>

      <ion-checkbox ng-model="filter.blue">Red</ion-checkbox>
      <ion-checkbox ng-model="filter.yellow">Yellow</ion-checkbox>
      <ion-checkbox ng-model="filter.pink">Pink</ion-checkbox>

    </ion-list>



  </ion-content>
</ion-view>
